.close{
    color:  white;
    float: right;
    font-size: .9rem;
    font-weight: bold;
}

.full-width{
    width: 100% !important;
}

.select2-selection--multiple{
    overflow: hidden !important;
    height: auto !important;
}